body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  margin: 0px;
  div#app {
    text-align: center;
    height: 100%;
  }
  .navbarlist {
    list-style: none;
  }
  .navbarlist li {
    display: inline-block;
    float: right;
    padding: 10px 15px 24px 10px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
  }
  .navbarlist li a {
    text-decoration: none;
    color: #000000;
  }
}
